
<table>
<thead>
  <tr>
    <th>Pet</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @pets.each do |pet| %>
    <tr>
    <% if pet.family.id == current_user.families.first.id %>
      <td><%= link_to pet.name, pet %></td>
    <% end %>
  <% end %>
</tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>