<h1>My Families</h1>
<p>
  <strong>家族名</strong>
  <%= @family.name %>
</p>


<br><br>
<%= link_to '編集', edit_family_path(@family) %>
<%= link_to '消去',family_path(@family.id), method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', families_path %>
